@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@350&display=swap');
html,
body {
  background: linear-gradient(90deg, #00d4ff 0%, #ef32e9 100%);
  margin: 0;
}
* {
  font-family: 'Quicksand', sans-serif;
}
h1 {
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 40px;
}
p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-align: center;
  color: white;
}
.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 57%;
  margin: auto;
}
.footer {
  font-weight: bolder;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
}
header * {
  display: flex;
}
header {
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: white;
}
header img {
  margin-left: 1rem;
  width: 4rem;
  border-radius: 5px;
}
header a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  margin: 20px;
  font-weight: bolder;
}
.link {
  display: flex;
  flex-wrap: wrap;
}
.link {
  background-color: #26d3ff;
  background-image: linear-gradient(45deg, #32dfe2, #26d3ff);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  transition: width .3s;
  background-image: linear-gradient(45deg, #32dfe2, #26d3ff);
}
.link:hover::after {
  width: 100%;
  transition: width .3;
}
.button {
  background: linear-gradient(-45deg, #ff6d79 0%, #ffbd71 100%);
  border: 0;
  padding: 10px;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  text-align: center;
}
.fbutton {
  background: linear-gradient(270deg, #ff5f6d 0%, #ffc371 100%);
  border: 0;
  padding: 10px;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  text-align: center;
}
.fa {
  color: white;
  text-decoration: none;
  padding-left: 8px;
  padding-right: 8px;
  transition: .5s;
}
.cpr {
  transition: .5s;
  cursor: default;
}
.fa-github:hover {
  color: #3cffa4;
}
.fa-twitter:hover {
  color: #3cdbff;
}
.fa-reddit:hover {
  color: #ff5c5c;
}
.fa-envelope:hover {
  color: #ce5cff;
}
.cpr:hover {
  color: #5cfcff;
}